/*  your css code here. If applicable */
.container{
	display:flex;
	align-items:center;
	border-radius:20px;
	background-color:lightgray;
}
.green{
	border-radius:100%;
	background-color:green;
}
.yellow{
	border-radius:100%;
	background-color:yellow;
}
.red{
	border-radius:100%;
	background-color:red;
}